realm: marmotgraph
enabled: true

accessTokenLifespan: 82800
clientScopes:
  - name: openid
    description: "OpenID scope to ensure access to userinfo"
    protocol: openid-connect
    attributes:
      display.on.consent.screen: "false"
      include.in.token.scope: "true"
  - name: groups
    description: "Adding groups"
    protocol: openid-connect
    attributes:
      display.on.consent.screen: "false"
      include.in.token.scope: "false"
    protocolMappers:
      - name: groups
        protocol: openid-connect
        protocolMapper: oidc-group-membership-mapper
        consentRequired: false
        config:
          access.token.claim: "false"
          claim.name: groups
          full.path: "false"
          id.token.claim: "false"
          introspection.token.claim: "false"
          lightweight.claim: "false"
          userinfo.token.claim: "true"
          multivalued: "true"
defaultDefaultClientScopes:
  - acr
  - basic
  - groups
  - email
  - profile
  - role_list
  - roles
  - saml_organization
  - web-origins
  - openid


groups:
  - name: marmotgraph-admins

clients:
  - clientId: kg
    enabled: true
    publicClient: true
    redirectUris:
        - "http://localhost:8000/*"
        - "http://localhost:3000/*"
    webOrigins:
      - "+"
    protocol: openid-connect
    standardFlowEnabled: true
    directAccessGrantsEnabled: false
    implicitFlowEnabled: false
    serviceAccountsEnabled: false
    frontchannelLogout: true
    attributes:
      oauth2.device.authorization.grant.enabled: "true"
      frontchannel.logout.session.required: "true"
  - clientId: demo-data-uploader
    description: This is a service account to upload demo data to the knowledge graph
    enabled: true
    secret: demoDataUpload
    publicClient: false
    protocol: openid-connect
    standardFlowEnabled: false
    directAccessGrantsEnabled: false
    implicitFlowEnabled: false
    serviceAccountsEnabled: true

users:
  - username: admin
    enabled: true
    emailVerified: true
    firstName: MarmotGraph
    lastName: Administrator
    email: admin@marmotgraph.org
    credentials:
      - type: password
        value: helloMarmotGraph
        temporary: false
    groups:
      - marmotgraph-admins
  - username: demo_consumer
    enabled: true
    emailVerified: true
    firstName: MarmotGraph
    lastName: Restricted
    email: demo_consumer@marmotgraph.org
    credentials:
      - type: password
        value: helloMarmotGraph
        temporary: false
  - username: service-account-demo-data-uploader
    groups:
      - marmotgraph-admins